<div class="row">
    {{page-number pageNumber=pageNumber}}
    <p class="break-line">{{t 'survey.sections.1.instructions'}}</p>
    {{#bs-form}}
        {{#each questions as |question index|}}
            {{! Due to a quirk of how validations are defined, we must manually create the validation key in the
            template. If the validation mechanism in the component changes, the template must also change }}
            {{#bs-form-group
                validation=(if showValidations (unless (v-get this (concat 'questions.' index '.value') 'isValid') "error"))
                useIcons=false
            }}
                {{#unless question.optional}}
                    <label class="control-label">
                        {{t question.question}}
                        {{#if showValidations}}
                            {{unless (v-get this (concat 'questions.' index '.value') 'isValid') '*'}}
                        {{/if}}
                    </label>
                    {{#if (eq question.type 'radio')}}
                        {{isp-radio-group
                            options=question.scale
                            hiddenOptions=question.hiddenOptions
                            labelTop=question.labelTop
                            labels=question.labels
                            formatLabel=question.formatLabel
                            value=question.value
                        }}
                    {{else if (eq question.type 'select')}}
                        {{select-input options=question.scale value=question.value}}
                    {{else if (eq question.type 'input')}}
                        {{input class="form-control auto-width" value=question.value}}
                    {{/if}}
                {{else if showOptional}}
                    <label>{{t question.question}}</label>
                    {{input value=question.value}}
                {{/unless}}
            {{/bs-form-group}}
        {{/each}}
    {{/bs-form}}
</div>
<div class="row exp-controls">
    <div class="pull-right">
        <button class="btn btn-primary" {{ action 'continue' }}>
            {{t 'global.continueLabel'}}
        </button>
        {{#if (and showValidations (not this.validations.isValid))}}
            <i class="fa fa-exclamation-triangle text-danger" aria-label="Please complete all required fields (*) to continue."></i>
        {{/if}}
    </div>
    {{progress-bar pageNumber=pageNumber}}
</div>
